<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ノート名 %>
    <%= form.text_field :note_title, :placeholder => "ノート名"%>
  </div>

  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_area :text, :placeholder => "内容"%>
  </div>

  <div class="field">
    <%= form.label :youtube %>
    <%= form.text_field :youtube, :placeholder => "リンク" %>
  </div>


  <div class="check_box">
  <span>タグ</span>
  <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) do |note_label| %>
   <div>
     <%= note_label.label do %>
       <%= note_label.check_box %>
       <%= note_label.text %>
     <% end %>
   </div>
 <% end %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
