<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1><%= link_to 'Note', new_note_path, class: "fw-light" %></h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <a>
          <%= search_form_for @q, url: search_notes_path do |f| %>
            <%= f.label :note_title_cont, 'ノート名' %>
            <%= f.search_field :note_title_cont %>
            <%= f.submit '検索' %>
          <% end %>
          <%= form_tag notes_path, method: :get, class: 'boards__searchForm' do %>
            <%= select_tag :label_id,
                          options_from_collection_for_select(Label.all, :id, :name, params[:label_id]),
                          {
                            prompt: 'タグで絞り込み検索',
                            onchange: 'submit(this.form);'
                          }
            %>
          <% end %>
        </a>
        
          <%= paginate @notes %>
      
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container"> 
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @notes.each do |note| %>
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5>
                  <%if note.youtube.present?%>
                  <iframe width="100%" height="300" src="https://www.youtube.com/embed/<%= note.youtube%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <% end %>
                </h5><br>        
                <h4>Title:<br>
                  <%= note.note_title %>
                </h4><br>
                <h5>Text:<br>
                  <%= note.text %>
                </h5><br>  
                <% note.labels.each do |note_label| %>
                  <%= note_label.name %>
                <% end %> 
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to 'Show', note, class: "btn btn-sm btn-outline-secondary"%>
                    <%= link_to 'Edit', edit_note_path(note), class: "btn btn-sm btn-outline-secondary" %>
                    <%= button_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-secondary" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</main>
