<main>
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1><%= link_to 'ノート', new_note_path, class: "fw-light" %></h1>
        <p>ノートをクリックして新規作成</p>
        <div class="col-lg-6 col-md-8 mx-auto">
          <a>
            <%= search_form_for @q, url: search_notes_path do |f| %>
              <%= f.label :note_title_cont, 'ノート名' %>
              <%= f.search_field :note_title_cont %>
              <%= f.submit '検索' %>
                <%= form_tag notes_path, method: :get, class: 'boards__searchForm' do %>
                  <%= select_tag :label_id,
                            options_from_collection_for_select(Label.all, :id, :name, params[:label_id]),
                            {
                              prompt: 'ラベルで絞り込み検索',
                              onchange: 'submit(this.form);'
                            }
                  %>
                <% end %>
            <% end %>   
            <div>
              <%= paginate @notes %>
            </div>
          </a>   
        </div>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container"> 
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @notes.each do |note| %>
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h4>
                  <%if note.youtube.present?%>
                  <iframe width="100%" height="300" src="https://www.youtube.com/embed/<%= note.youtube%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <% end %>
                </h4><br>        
                <h4>ノート名:<%= note.note_title %></h4><br>
                <h4>内容:<%= note.text %></h4><br>  
                <h4>ラベル:
                <% note.labels.each do |note_label| %>
                  <%= note_label.name %>
                <% end %> 
                </h4>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to '詳細', note, class: "btn btn-sm btn-outline-secondary"%>
                    <%= link_to '編集', edit_note_path(note), class: "btn btn-sm btn-outline-secondary" %>
                    <%= button_to '削除', note, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-secondary" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</main>
