<div class="album py-5 bg-light">
  <div class="box2 edit-form">
    <p>
      <strong>Note title:</strong>
      <%= @note.note_title %>
    </p>

    <p>
      <strong>Text:</strong>
      <%= @note.text %>
    </p>

    <p>
      <strong>Youtube:</strong>
      <%if @note.youtube.present?%>
        <iframe width="100%" height="300" src="https://www.youtube.com/embed/<%= @note.youtube%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <% end %>
    </p>

    <p>
      <strong>Text:</strong>
        <% @note.labels.each do |note_label| %>
          <%= note_label.name %>
        <% end %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @note.user_id %>
    </p>

    <%= link_to 'Edit', edit_note_path(@note) %> |
    <%= link_to 'Back', notes_path %>
  </div>
</div>


