<p id="notice"><%= notice %></p>

<p>
  <strong>Note title:</strong>
  <%= @note.note_title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @note.text %>
</p>

<p>
  <strong>Youtube:</strong>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @note.youtube%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user_id %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
