<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タスク名 %>
    <%= form.text_field :task_title, :placeholder => "タスク名" %>
  </div>

  <div class="field">
    <%= form.label :期限 %>
    <%= form.datetime_select :due_date %>
  </div>

  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_area :task_content, :placeholder => "内容" %>
  </div>

  <div class="field">
    <%= form.label :ステータス %>
    <%= form.select :status, Task.statuses.keys, {prompt: "選択してください"} %>
  </div>

  <div class="check_box">
    <span>ラベル</span>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) do |tasklabel| %>
     <div>
       <%= tasklabel.label do %>
         <%= tasklabel.check_box %>
         <%= tasklabel.text %>
       <% end %>
     </div>
   <% end %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
