<h1>Tasks</h1>

<%= form_tag tasks_path, method: :get, class: 'boards__searchForm' do %>
  <%= select_tag :label_id,
                 options_from_collection_for_select(Label.all, :id, :name, params[:label_id]),
                 {
                   prompt: 'タグで絞り込み検索',
                   onchange: 'submit(this.form);'
                 }
  %>
<% end %>

<%= search_form_for @q, url: search_tasks_path do |f| %>
  <%= f.label :task_title_cont, 'タスク名' %>
  <%= f.search_field :task_title_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>

<%= month_calendar events: @tasks do |date, tasks| %>
  <%= date.day %>
  <% tasks.each do |task| %>
    <li class="list">
      <%= link_to edit_task_path(task.id) do %>
        <%= task.task_title %>
        <% end %>
    </li>


  <% end %>
<% end %>

      
<table>
  <thead>
    <tr>
      <th>Task title</th>
      <th>Due date</th>
      <th>Task content</th>
      <th>Status</th>
      <th>Label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_title %></td>
        <td><%= task.due_date %></td>
        <td><%= task.task_content %></td>
        <td><%= task.status %></td>
        <td>
        <% task.labels.each do |tasklabel| %>
          <%= tasklabel.name %>
        <% end %>  
        </td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
