<div class="album py-5 bg-light">
  <div class="box2 edit-form">
    <p>
      <strong>タスク名:</strong>
      <%= @task.task_title %>
    </p>

    <p>
      <strong>期日:</strong>
      <%= @task.due_date %>
    </p>

    <p>
      <strong>内容:</strong>
      <%= @task.task_content %>
    </p>

    <p>
      <strong>ステータス:</strong>
      <%= @task.status %>
    </p>

    <p>
      <strong>メモ:</strong>
      <%= @task.task_content %>
    </p>   

    <p>
      <strong>ラベル:</strong>
      <% @task.labels.each do |task_label| %>
        <%= task_label.name %>
      <% end %>
  </p>

    <%= link_to '編集', edit_beat_path(@task) %> |
    <%= link_to '戻る', tasks_path %>
  </div>
</div>
