<%= form_with(model: beat, local: true) do |form| %>
  <% if beat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beat.errors.count, "error") %> prohibited this beat from being saved:</h2>

      <ul>
        <% beat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ビート名 %>
    <%= form.text_field :beat_title, :placeholder => "ビート名" %>
  </div>

  <div class="field">
    <%= form.label :サンプル %>
    <%= form.text_field :sample_title, :placeholder => "元ネタ" %>
  </div>

  <div class="field">
    <%= form.label :サンプル(アーティスト) %>
    <%= form.text_field :sample_artist, :placeholder => "アーティスト" %>
  </div>

  <div class="field">
    <%= form.label :オーディオ %>
    <%= form.file_field :audio %>
  </div>

  <div class="field">
    <%= form.label :制作時間 %>
    <%= form.number_field :beat_time , :placeholder => "制作時間"%>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo, :placeholder => "メモ" %>
  </div>

  <div class="check_box">
    <span>カテゴリー</span>
    <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |beatcategory| %>
      <div>
      <%= beatcategory.label do %>
        <%= beatcategory.check_box %>
        <%= beatcategory.text %>
      <% end %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
