
<h1>Beats</h1>

<table>
  <thead>
    <tr>
      <th>Beat title</th>
      <th>Sample title</th>
      <th>Sample artist</th>
      <th>Audio</th>
      <th>Beat time</th>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beats.each do |beat| %>
      <tr>
        <td><%= beat.beat_title %></td>
        <td><%= beat.sample_title %></td>
        <td><%= beat.sample_artist %></td>
        <td><%= beat.audio %></td>
        <td><%= beat.beat_time %></td>
        <td><%= beat.memo %></td>
        <td><%= link_to 'Show', beat %></td>
        <td><%= link_to 'Edit', edit_beat_path(beat) %></td>
        <td><%= link_to 'Destroy', beat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beat', new_beat_path %>
