<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1><%= link_to 'ビート', beats_path, class: "fw-light" %></h1>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @results.each do |beat| %>
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h4>タイトル: <%= beat.beat_title %></h4><br>
                <h4>サンプル: <%= beat.sample_title %></h4><br>  
                <h4>アーティスト: <%= beat.sample_artist %></h4><br>
                <%= audio_tag beat.audio_url, :controls => true if beat.audio? %><br>
                <h4>制作時間: <%= beat.beat_time %></h4><br>
                <h4>メモ: <%= beat.memo %></h4><br>
                <h4>ラベル:
                <% beat.categories.each do |beatcategory| %>
                  <%= beatcategory.name %>
                <% end %>  
                </h4>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to 'Show', beat_path(beat.id), class: "btn btn-sm btn-outline-secondary"%>
                    <%= link_to 'Edit', edit_beat_path(beat.id), class: "btn btn-sm btn-outline-secondary" %>
                    <%= button_to 'Destroy', beat_path(beat.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-secondary" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>