<div class="album py-5 bg-light">
  <div class="box2 edit-form">
    <p>
      <strong>ビート名:</strong>
      <%= @beat.beat_title %>
    </p>

    <p>
      <strong>サンプル:</strong>
      <%= @beat.sample_title %>
    </p>

    <p>
      <strong>アーティスト:</strong>
      <%= @beat.sample_artist %>
    </p>

    <p>
      <strong>Audio:</strong>
      <%= audio_tag @beat.audio_url, :controls => true if @beat.audio? %>
    </p>

    <p>
      <strong>制作時間:</strong>
      <%= @beat.beat_time %>
    </p>

    <p>
      <strong>メモ:</strong>
      <%= @beat.memo %>
    </p>   

    <p>
      <strong>カテゴリー:</strong>
      <% @beat.categories.each do |beatcategory| %>
        <%= beatcategory.name %>
      <% end %> 
    </p>

    <%= link_to 'Edit', edit_beat_path(@beat) %> |
    <%= link_to 'Back', beats_path %>
  </div>
</div>
