<!DOCTYPE html>
<html>
  <head>
    <title>Spaceship</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
      <%= link_to "ビート", beats_path %>
      <%= link_to "ノート", notes_path %>
      <%= link_to "タスク", tasks_path %>
      <%= link_to "アカウント", users_show_path %>
      <%= link_to "管理画面", rails_admin_path if current_user.admin == true %> 
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <div style = "width: 500px; float: right;">
    <script async src="https://cse.google.com/cse.js?cx=951c5d4a5769d41e5"></script>
    <div class="gcse-search"></div>
    </div>

    <%= yield %>
  </body>
</html>
